<h2>Basics</h2>

- KeyWords vs Identifier
- Comments
- What is a Variable?
- Single Line vs Multiple Line
- Multiple assignments
- How do we Store a Variable it in the memory?
- Immutability

In [1]:
import keyword
print(keyword.kwlist)
#keywords
""" Hello This is a Multiple Line
Comment"""

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

' Hello This is a Multiple Line\nComment'

In [8]:
a = 10
b = 10 + 20 + \
    30 + 40 + \
    50

# c = d = e = 100
# c,d,e = 1,2,3
c = 10
print(a,id(a),c ,id(c))
a = 20
print(a,id(a))
# print(a,b,c,d,e)

10 140708990827224 10 140708990827224
20 140708990827544

<h2>Data Types</h2><table border="1">
<tbody>
<tr><td>Text Type:</td><td>str</td></tr>
<tr><td>Numeric Types:</td><td>int, float, complex</td></tr>
<tr><td>Sequence Types:</td><td>list, tuple, range</td></tr>
<tr><td>Mapping Type:</td><td>dict</td></tr>
<tr><td>Set Types:</td><td>set, frozenset</td></tr>
<tr><td>Boolean Type:</td><td>bool</td></tr>
<tr><td>Binary Types:</td><td>bytes, bytearray, memoryview</td></tr>
<tr><td>None Type:</td><td>NoneType</td></tr>
</tbody


</table>
</table>NoneType

In [14]:
a = None
print(a,type(a))

None <class 'NoneType'>

In [16]:
a = input("Enter a Num")
print(a,type(a))
a = int(a)
print(a,type(a))

Enter a Num 10

10 <class 'str'>
10 <class 'int'>

<h2>Operators</h2>
Types of Operators

- Airthmetic: +, -, *, /, %, //, **
- relational: ==, <=, <, >=, >, !=
- logical: and, or, not
- Bitwise: &, |, ~, ^, <<, >>
- Assignment: =, +=, -= ...
- Special: is, is not, in, not in

In [21]:
a = [10]
b = [10]
c = a is b
print(c)

False

## IfElse
- if .. else
- if .. elif .... else
- Nested if

Indentation

In [30]:
a = 20
b = 20
if a > b:
  print('a is greater than b')
  print('Hello')
elif a == b:
    print('a is equal to b')
else:
    print('b is greater than a')

a is equal to b

In [35]:
a = 11
i = 2
while i < a:
    if a%i == 0:
        print(a,"is not a prime")
        break
    i+=1
else:
    print(a,"is prime")

11 is prime

## while loop

To iterate over a block of code as long as the test expression is true.\
**Syntax:**\
while testExp:\
Body\
else:\
After testExp is false

In [33]:
i = 1
while i < 10:
    print(i)
    i += 1
    if i == 5:
        break
else:
    print(i)

1
2
3
4

## for loop

for ele in sequence:\
....Body of for

In [36]:
l = [1,2,3,4,5]
for ele in l:
    print(ele)

1
2
3
4
5

In [38]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
5

In [42]:
for i in range(len(l)-1,-1,-1):
    print(l[i])

5
4
3
2
1

In [43]:
for i in range(-10):
    print(i)

## Ternary Operator

In [44]:
a = 100
b = 20
c = a if a > b else b
print(c)

100

## List

List Functions/Method

Method Description
append() Adds an element at the end of the list 
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

List Comprehension
List Spliting

In [45]:
l1 = [10,20]
l2 = [10,20]
l3 = l1
print(id(l1))
print(id(l2))
print(id(l3))
l3[0] = 100
print(l1[0])

1365235472576
1365235405824
1365235472576
100

In [46]:
l1 = [1,2,3,4,5]
# index: 0-4 , -1 - -5
for i in range(-len(l),0):
    print(l1[i])

1
2
3
4
5

In [48]:
l1.append(10)
l1.insert(1,100)
print(l1)

[1, 100, 2, 3, 4, 5, 10, 10]

In [51]:
print(l1.pop(1))

100

In [52]:
print(l1)

[1, 2, 3, 4, 5, 10]

In [54]:
l2 = l1+[1,1,2]
print(l2)

[1, 2, 3, 4, 5, 10, 1, 1, 2]

In [55]:
print(l1.index(50))

ValueError: 50 is not in list

In [56]:
l2.sort()
print(l2)

[1, 1, 1, 2, 2, 3, 4, 5, 10]

In [72]:
del l2[1]
print(l2)

[1, 2, 2, 3, 4, 5, 10]

In [58]:
l1 = [1 for i in range(1,11)]
print(l1)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [60]:
n = 10
l1 = [2]*n
print(l1)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [70]:
l = [i for i in range(20)]
print(l[::-1])

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [73]:
t1 = (1,2,3)
l1 = list(t1)
l1.append(10)
t1 = tuple(l1)
print(t1)

(1, 2, 3, 10)

In [75]:
t1 = (1,)
print(t1)

(1,)

In [76]:
t1 = 1,2,3
print(t1)

(1, 2, 3)

In [77]:
a,b,c = t1
print(a,b,c)

1 2 3

In [79]:
a,b,c,d = t1
print(a,b)

ValueError: not enough values to unpack (expected 4, got 3)

In [82]:
t1 = (1,2,3,4,5,6)
l = t1[2:5]
print(l)

(3, 4, 5)

In [94]:
t1 = (1,2,3)
t2 = (1,2,3)
print(t1,t2)
print(hash(t1),hash(t2))
print(hash(t1) == hash(t2))

(1, 2, 3) (1, 2, 3)
529344067295497451 529344067295497451
True

## Set

In [96]:
s = {1,2,3,1}
print(s,type(s))

{1, 2, 3} <class 'set'>

In [107]:
s.add('Abs')
print(s)

{1, 2, 3, 'Abs', 10, 11, 20, 'Hell', 'Hello', 'India'}

In [111]:
print(s.pop())
print(s)

Abs
{10, 11, 20, 'Hell', 'Hello', 'India'}

In [112]:
s.update({3,4,5,6})
s

{10, 11, 20, 3, 4, 5, 6, 'Hell', 'Hello', 'India'}

In [115]:
s1 = {1,2,3}
s2 = {1,2}
print(s2.issubset(s1))

True

In [130]:
s = {1,2,3,4}
print(10 in s)

False

In [128]:
s = set()
print(s,type(s))

set() <class 'set'>

## Dictonary

In [119]:
d = {
    "roll" : 127,
    "name" : "muskan",
    "age" : 20,
    "course" : ["oops","aiml","fee"],
    "roll" : 128
}
print(d)

{'roll': 128, 'name': 'muskan', 'age': 20, 'course': ['oops', 'aiml', 'fee']}

In [122]:
d["rolll"]

KeyError: 'rolll'

In [123]:
d.get("rolll")

In [125]:
d["class"] = "G11"
print(d)

{'roll': 129, 'name': 'muskan', 'age': 20, 'course': ['oops', 'aiml', 'fee'], 'class': 'G11'}

In [126]:
d.update({"city" : "chandigarh","country" : "India"})
d

{'roll': 129,
 'name': 'muskan',
 'age': 20,
 'course': ['oops', 'aiml', 'fee'],
 'class': 'G11',
 'city': 'chandigarh',
 'country': 'India'}

In [132]:
"roll" in d

True

In [133]:
d.values()

dict_values([129, 'muskan', 20, ['oops', 'aiml', 'fee'], 'G11', 'chandigarh', 'India'])

In [135]:
for k in d:
    print(k,d[k])

roll 129
name muskan
age 20
course ['oops', 'aiml', 'fee']
class G11
city chandigarh
country India

In [136]:
d.items()

dict_items([('roll', 129), ('name', 'muskan'), ('age', 20), ('course', ['oops', 'aiml', 'fee']), ('class', 'G11'), ('city', 'chandigarh'), ('country', 'India')])

In [138]:
for t in d.items():
    print(t)

('roll', 129)
('name', 'muskan')
('age', 20)
('course', ['oops', 'aiml', 'fee'])
('class', 'G11')
('city', 'chandigarh')
('country', 'India')

In [139]:
d.pop('country')

'India'

In [140]:
d

{'roll': 129,
 'name': 'muskan',
 'age': 20,
 'course': ['oops', 'aiml', 'fee'],
 'class': 'G11',
 'city': 'chandigarh'}

In [141]:
d.popitem()

('city', 'chandigarh')

In [145]:
st = "hello"
print(''.join(sorted(st)))

ehllo

## functions
- defination
- parameters (Pass by Value)
- return / Multiple Return
- default arguments
- keyword arguments
- Arbitrary arguments (*args and **kwargs)
- DocString (__doc__)
- Function within function
- function as arguments
- Anonymous Function
- Recursion

In [176]:
def add(p,q,/,*,x,y = 100):
    a = x+y
    b = x-y
    return a,b,p*q

In [177]:
a,b,c = add(100,200,y = 10,x = 20)
print(a,b,c)
print(add(10,20,x = 100))

30 10 20000
(200, 0, 200)

In [148]:
print(add,type(add))

<function add at 0x0000013DDF51B1A0> <class 'function'>

In [192]:
def pt(**kwargs):
    print(kwargs)

In [193]:
pt(x = 1,y = 2,z = 3,w = 4)
pt(st = "Hello",a = 10,b = 2+3j)

{'x': 1, 'y': 2, 'z': 3, 'w': 4}
{'st': 'Hello', 'a': 10, 'b': (2+3j)}

In [185]:
pt()

{}

In [194]:
def fn():
    "This is a Demo Function"
    print("Hi")
fn()

Hi

In [195]:
print(fn.__doc__)

This is a Demo Function

In [198]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [202]:
def f1():
    print("Hi")
    def f2():
        print("In f2")
    f2()
    print("Bye")
    return f2
fn2 = f1()
fn2()

Hi
In f2
Bye
In f2

In [203]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y

In [204]:
def cal(fn,x,y):
    ans = fn(x,y)
    print(ans)

In [205]:
cal(add,100,200)
cal(sub,50,40)

300
10

In [210]:
sq = lambda x : x*x
sq(10)

100

In [207]:
cal(lambda x,y: x*y,10,20)

200

In [213]:
l  = [1,2,3,4]
for i,v in enumerate(l):
    print(i,v)

0 1
1 2
2 3
3 4

In [216]:
for i in map(lambda x : x*x,l):
    print(i)

1
4
9
16