pip install pandas \
pip install --upgrade pandas

In [5]:
import pandas as pd
import numpy as np
print(pd.__version__)

2.2.0

- Pandas Series
- Pandas DataFrame --> use various ways to initialize it(dtype,columns,index)
- shape
- head
- tail
- columns
- to_csv (index = false)
- read_csv
-  drop(columns=[])
-  describe()
-  info()
-  iloc
-  loc
-  Access Particular Columns
-  indexing and slicing --> multirow and col
-  columns.get_loc
-  unique
-  sort_values(by,ascending)
-  convert to numpy array --> values

In [14]:
l = [10,20,30,40]
d = {'a':10,'b':20,'c':30}
print(d,type(d))

{'a': 10, 'b': 20, 'c': 30} <class 'dict'>

In [18]:
# psa = pd.Series(l,index=['a','b','c','d'],dtype=np.int8)
psa = pd.Series(d,index=['a','c','d'])
psa

a    10.0
c    30.0
d     NaN
dtype: float64

In [22]:
psa.iloc[0],psa.loc['a']

(100.0, 100.0)

In [21]:
psa.iloc[0] = 100

In [26]:
# psa.iloc[0:2]
psa.loc['a':'c']

a    100.0
c     30.0
dtype: float64

In [30]:
np.random.randint(1,100,(2,2))

array([[47, 71],
       [61, 19]])

In [32]:
d = {
    "MarksA" : np.random.randint(1,100,6),
    "MarksB" : np.random.randint(50,100,6),
    "MarksC" : np.random.randint(70,90,6)
}

In [36]:
d,type(d)

({'MarksA': array([56, 55, 81, 98, 55, 96]),
  'MarksB': array([97, 59, 78, 89, 69, 67]),
  'MarksC': array([88, 88, 77, 85, 70, 76])},
 dict)

In [42]:
df = pd.DataFrame(d,index = [10,20,30,40,50,60]
                  ,columns=["MarksA","MarksC","Phy"])

In [43]:
df

    MarksA  MarksC  Phy
10      56      88  NaN
20      55      88  NaN
30      81      77  NaN
40      98      85  NaN
50      55      70  NaN
60      96      76  NaN

In [39]:
type(df)

pandas.core.frame.DataFrame

In [48]:
na = np.random.randint(1,100,(6,3))
df = pd.DataFrame(na,columns=["Phy","Chem","Maths"]
                  ,index = [10,30,20,50,70,40])
df

    Phy  Chem  Maths
10   90    97     59
30   63    83     21
20   25    98     86
50   67    33     59
70   96    61     59
40   67    82     85

In [52]:
df.head(n=3)

    Phy  Chem  Maths
10   90    97     59
30   63    83     21
20   25    98     86

In [54]:
df.tail(n=3)

    Phy  Chem  Maths
50   67    33     59
70   96    61     59
40   67    82     85

In [55]:
df.shape

(6, 3)

In [56]:
df.columns

Index(['Phy', 'Chem', 'Maths'], dtype='object')

In [61]:
df.to_csv("Marks.csv")

In [69]:
df = pd.read_csv("Marks.csv",names = ['a','b','c'],skiprows=1)

In [70]:
df

    a   b   c
0  90  97  59
1  63  83  21
2  25  98  86
3  67  33  59
4  96  61  59
5  67  82  85

In [65]:
df = df.drop(columns=["Unnamed: 0"])

In [66]:
df

   Phy  Chem  Maths
0   90    97     59
1   63    83     21
2   25    98     86
3   67    33     59
4   96    61     59
5   67    82     85